

/* RESPONSIVENESS */

/* Large devices, less than 1200px */


@media (max-width: 1199.98px) {
    #hero {
      height: 110vh;
    }
  
    #hero h1 {
      font-size: 45px;
      /* line-height: 30px; */
    }
  
    #hero h2 {
      font-size: 28px;
      /* line-height: 24px; */
    }
  
    .video-wrapper {
      /* Telling our absolute positioned video to 
      be relative to this element */
      /* position: relative; */
      /* margin-top: 200px; */
    
      width: 100%;
      height: 100%;
    
      /* Will not allow the video to overflow the 
      container */
      overflow: hidden;
    
      /* Centering the container's content vertically 
      and horizontally */
      /* text-align: center; */
      display: flex;
      /* align-items: center; */
      /* justify-content: center; */
    }
  
    video {
      /** Simulationg background-size: cover */
      /* margin-top: 20px; */
      /* padding: 10%; */
  
      object-fit: fill;
      width: 100%;
      height: 88%;
  
    
      position: relative;
      top: 0;
      /* margin-top: -280px; */
    }
  
    .after-video {
      /* float: right; */
      margin-top: 150px;
    }
  }
  
  
  
  
  
  /* Large desktops, larger than 1200px */
  
  
  @media (max-width: 1399.98px) {
    #hero {
      height: 120vh;
    }
  
    #hero h1 {
      font-size: 55px;
      /* line-height: 30px; */
    }
  
    #hero h2 {
      font-size: 38px;
      /* line-height: 24px; */
    }
  
    .video-wrapper {
      /* Telling our absolute positioned video to 
      be relative to this element */
      /* position: relative; */
      /* margin-top: 200px; */
    
      width: 100%;
      height: 100%;
    
      /* Will not allow the video to overflow the 
      container */
      overflow: hidden;
    
      /* Centering the container's content vertically 
      and horizontally */
      /* text-align: center; */
      display: flex;
      /* align-items: center; */
      /* justify-content: center; */
    }
  
    video {
      /** Simulationg background-size: cover */
      /* margin-top: 20px; */
      /* padding: 10%; */
  
      object-fit: fill;
      width: 100%;
      height: 88%;
  
    
      position: relative;
      top: 0;
      /* margin-top: -280px; */
    }
  
    .after-video {
      /* float: right; */
      margin-top: 150px;
    }
  }